ion-title {
    margin-left: -20px;
}

.headset-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%; 
        //filter: drop-shadow(0px 75px 25px rgba(0, 0, 0, 0.3));
    }
}

ion-item {
    &.device {
        margin-bottom: 15px;
        border-radius: 10px;
        padding: 10px 0px;
        background-color: #25CCF7;
        box-shadow: 0px 7px 0px 0px #1B9CFC;
    }

    &.block {
        border-radius: 10px;
        background-color: #25CCF7;
        box-shadow: 0px 7px 0px 0px #1B9CFC;

        ion-icon {
            font-size: 17px;
        }
    }
}

.panel {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #25CCF7;
    box-shadow: 0px 7px 0px 0px #1B9CFC;

    ion-item {
        --background: transparent;
        border-radius: 10px;    
        color: #FFFFFF;

        ion-icon {
            color: #FFFFFF;
        }
    }
}

.right {
    ion-icon {
        font-size: 20px;
    }
}

.flow-up {
    animation: flow-up-anim 1000ms;
}

@keyframes flow-up-anim {
    from {
        margin-top: 50px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}